### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
players_df  = purchase_data['SN'].value_counts()
players_df.head()

Lisosia93       5
Iral74          4
Idastidru52     4
Chanastnya43    3
Chamimla85      3
Name: SN, dtype: int64

In [3]:
total_players = players_df.count()
total_players

576

In [4]:
total_players_df = pd.DataFrame({"Total Players":[total_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
items_df  = purchase_data['Item ID'].value_counts()
items_df.head()

178    12
82      9
108     9
145     9
92      8
Name: Item ID, dtype: int64

In [6]:
total_items = items_df.count()
total_items

183

In [7]:
ave_price = purchase_data['Price'].mean()
ave_price

3.0509871794871795

In [8]:
num_purchases = purchase_data["Purchase ID"].count()
num_purchases

780

In [9]:
total_revenue = ave_price * num_purchases
total_revenue

2379.77

In [10]:
purchasing_analysis_total_df = pd.DataFrame({"Number of Unique Items":[total_items],
                                             "Average Price":[ave_price],
                                             "Number of Purchases":[num_purchases],
                                             "Total Revenue":[total_revenue]
                                            })
purchasing_analysis_total_df["Average Price"] = purchasing_analysis_total_df["Average Price"].map("${0:,.2f}".format)
purchasing_analysis_total_df["Total Revenue"] = purchasing_analysis_total_df["Total Revenue"].map("${0:,.2f}".format)
purchasing_analysis_total_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [11]:
male_df = purchase_data.loc[purchase_data['Gender']=="Male",:]
total_male = len(male_df['SN'].unique())

In [12]:
female_df = purchase_data.loc[purchase_data['Gender']=="Female",:]
total_female = len(female_df['SN'].unique())

In [13]:
other_df = purchase_data.loc[purchase_data['Gender']=="Other / Non-Disclosed",:]
total_other = len(other_df['SN'].unique())

In [14]:
male_percent = total_male/total_players*100
female_percent = total_female/total_players*100
other_perccent = total_other/total_players*100

gender_df = pd.DataFrame({"Total Count":[total_male,total_female,total_other],
                          "Percentage of Players":[male_percent,female_percent,other_perccent],
                          },index = ['Male','female','Other / Non-Disclosed'])
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("{0:,.2f}".format)
gender_df

                       Total Count Percentage of Players
Male                           484                 84.03
female                          81                 14.06
Other / Non-Disclosed           11                  1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
female_purchase_count = purchase_data["Gender"].value_counts()['Female']
female_ave_price = female_df['Price'].mean()
female_total_price = female_df['Price'].sum()
female_ave_price_person = female_total_price/total_female

male_purchase_count = purchase_data["Gender"].value_counts()['Male']
male_ave_price = male_df['Price'].mean()
male_total_price = male_df['Price'].sum()
male_ave_price_person = male_total_price/total_male

other_purchase_count = purchase_data["Gender"].value_counts()['Other / Non-Disclosed']
other_ave_price = other_df['Price'].mean()
other_total_price = other_df['Price'].sum()
other_ave_price_person = other_total_price/total_other

gender_purch_df = pd.DataFrame({"Purchase Count":[female_purchase_count,male_purchase_count,other_purchase_count],
                                "Average Purchase Price":[female_ave_price,male_ave_price,other_ave_price],
                                "Total Purchase Price":[female_total_price,male_total_price,other_total_price],
                                "Average Total Purchase per Person":[female_ave_price_person,male_ave_price_person,other_ave_price_person],
                                },index = ['female','Male','Other/Non-Disclosed'])

gender_purch_df["Average Purchase Price"] = gender_purch_df["Average Purchase Price"].map("${0:,.2f}".format)
gender_purch_df["Total Purchase Price"] = gender_purch_df["Total Purchase Price"].map("${0:,.2f}".format)
gender_purch_df["Average Total Purchase per Person"] = gender_purch_df["Average Total Purchase per Person"].map("${0:,.2f}".format)
gender_purch_df

,Purchase Count,Average Purchase Price,Total Purchase Price,Average Total Purchase per Person
female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other/Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [16]:
bins = [0,9,14,19,24,29,34,39,100]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

age_data = purchase_data.groupby('SN').mean()

age = age_data.groupby(pd.cut(age_data['Age'], bins, labels=group_names)).size()

age_df = pd.DataFrame({"Total Count": age})
age_df["Percentage of Players"]=round(age_df["Total Count"]/total_players*100,2)
age_df

       Total Count  Percentage of Players
Age
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
bins = [0,9,14,19,24,29,34,39,100]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

purchase_data["Age "]=pd.cut(purchase_data['Age'],bins, labels=group_names)
purchase_df_1 = purchase_data.groupby("Age ").count()
purchase_df_2=purchase_df_1[["Purchase ID"]]
purchase_df_3=purchase_data.groupby("Age ").sum()
purchase_df_4=purchase_df_3[["Price"]]
purchase_df_5=pd.merge(purchase_df_2,purchase_df_4,on="Age ")

purchase_df_6=purchase_df_5.rename(columns={"Price":"Total Purchase Value",
                               "Purchase ID":"Total Count"})

purchase_df_6["Average Purchase Price"]=round(purchase_df_6["Total Purchase Value"]/purchase_df_6["Total Count"],2)
purchase_df_6["Avg Total Purhase per Person"]=round(purchase_df_6["Total Purchase Value"]/age_df["Total Count"],2)

purchase_df_6["Average Purchase Price"]=purchase_df_6["Average Purchase Price"].map("${:.2f}".format)
purchase_df_6["Avg Total Purhase per Person"]=purchase_df_6["Avg Total Purhase per Person"].map("${:.2f}".format)
purchase_df_6["Total Purchase Value"]=purchase_df_6["Total Purchase Value"].map("${:.2f}".format)

purchase_df_6

,Total Count,Total Purchase Value,Average Purchase Price,Avg Total Purhase per Person
Age,,,,
<10,23,$77.13,$3.35,$4.54
10-14,28,$82.78,$2.96,$3.76
15-19,136,$412.89,$3.04,$3.86
20-24,365,$1114.06,$3.05,$4.32
25-29,101,$293.00,$2.90,$3.81
30-34,73,$214.00,$2.93,$4.12
35-39,41,$147.67,$3.60,$4.76
40+,13,$38.24,$2.94,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [20]:
price_df= purchase_data.groupby('SN').sum()
total_price_df= price_df["Price"]

purch_times_df= purchase_data.groupby("SN").count()
purch_times_count=purch_times_df["Purchase ID"]

purch_df=pd.DataFrame({"Purchase Count":purch_times_count,
                              "Total Purchase Value":total_price_df})
purch_df=purch_df.sort_values("Total Purchase Value",ascending = False)
purch_df["Average Purchase Price"]=round(purch_df["Total Purchase Value"]/purch_df["Purchase Count"],2)

purch_df["Average Purchase Price"]=purch_df["Average Purchase Price"].map("${:.2f}".format)
purch_df["Total Purchase Value"]=purch_df["Total Purchase Value"].map("${:.2f}".format)

purch_df.head()

             Purchase Count Total Purchase Value Average Purchase Price
SN
Lisosia93                 5               $18.96                  $3.79
Idastidru52               4               $15.45                  $3.86
Chamjask73                3               $13.83                  $4.61
Iral74                    4               $13.62                  $3.40
Iskadarya95               3               $13.10                  $4.37

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [21]:
product_times_df= purchase_data.groupby("Item ID").count()
product_times_count=product_times_df["Purchase ID"]
revenue = purchase_data.groupby("Item ID").sum()
revenue_count = revenue["Price"]
product_df=pd.DataFrame({"Purchase Count":product_times_count,
                             "Total Purchase Value":revenue_count})
product_df_2 = product_df.sort_values("Purchase Count",ascending = False)

new_index_df=purchase_data.set_index("Item ID")
new_index_df=new_index_df.groupby("Item ID").first()

product_df_3=product_df_2.join(new_index_df,on = 'Item ID',how='inner')
product_df_4=product_df_3.drop(['Gender','Age','SN','Purchase ID'],axis =1)
product_df_4["Price"]=product_df_4["Price"].map("${:.2f}".format)
product_df_4["Total Purchase Value"]=product_df_4["Total Purchase Value"].map("${:.2f}".format)
product_df_5 = product_df_4[["Item Name","Purchase Count","Price","Total Purchase Value"]]
product_df_5.head()

,Item Name,Purchase Count,Price,Total Purchase Value
Item ID,,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [22]:
product_times_df= purchase_data.groupby("Item ID").count()
product_times_count=product_times_df["Purchase ID"]
revenue = purchase_data.groupby("Item ID").sum()
revenue_count = revenue["Price"]
product_df=pd.DataFrame({"Purchase Count":product_times_count,
                             "Total Purchase Value":revenue_count})
product_df_2 = product_df.sort_values("Purchase Count",ascending = False)
new_index_df=purchase_data.set_index("Item ID")
new_index_df=new_index_df.groupby("Item ID").first()
product_df_3=product_df_2.join(new_index_df,on = 'Item ID',how='inner')
product_df_4=product_df_3.drop(['Gender','Age','SN','Purchase ID'],axis =1)
product_df_4["Price"]=product_df_4["Price"].map("${:.2f}".format)
product_df_4["Total Purchase Value"]=product_df_4["Total Purchase Value"].map("${:.2f}".format)
product_df_5 = product_df_4[["Item Name","Purchase Count","Price","Total Purchase Value"]]
product_df_5.head()

,Item Name,Purchase Count,Price,Total Purchase Value
Item ID,,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16